@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background-color: rgba(128, 128, 128, 0.12);
    color: #3F4254;
    font-family: 'Poppins', sans-serif;
}
p, small, td, th, li, label, .btn, .dt-bootstrap5, .page-item{
    font-size: .7rem !important;
}

.text-semiwhite{
    color: rgb(216, 216, 216);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.form-select:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

hr{
    height: 2px;
    width: 100%;
}
.sidebar {
    background-color: white;
    width: 18rem !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 11;
}

.top-sidebar{
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
}

.navbar{
    position: sticky !important;
    top: 0 !important;
    width: 100%;
    z-index: 10;
}

.content{
    margin: 1rem;
}

@media (min-width: 992px) {
    .content{
        margin-left: 19rem;
    }
}

.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.2) !important;
}


li:hover{
    background-color: #1a2226 !important;
    color: #019267;
}

.hovered:hover {
    background-color: rgba(128, 128, 128, 0.12);
    cursor: pointer;
}

.bg-primary{
    background-color: #019267 !important;
}
.text-primary{
    color: #019267 !important;
}
.btn-primary{
    background-color: #019267 !important;
    border: 0;
}
.btn-primary:hover{
    background-color: #007b56 !important;
    border: 0;
}
.bg-dark{
    background-color: #1a2226 !important;
}

.bg-lightdark{
    background-color: #222d32 !important;
}

.buttons-excel{
    display: inline-block !important;
}

